jinja2
tornado>=6.1
pyzmq>=17
argon2-cffi
traitlets>=4.2.1
jupyter_core>=4.6.1
jupyter_client>=6.1.1
jupyter_server>=1.17.0
ipython_genutils
jupyter_server>=1.8
nbformat
notebook_shim>=0.1.0
notebook_shim>=0.1.0
nbconvert>=5
nest-asyncio>=1.5
ipykernel # bless IPython kernel for now
Send2Trash>=1.8.0
terminado>=0.8.3
prometheus_client
